/* 
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

package io.bzclient.bzclient;

import com.fasterxml.jackson.core.type.TypeReference;
import io.bzclient.bzclient.models.errors.APIException;
import io.bzclient.bzclient.models.operations.GetQuoteDelayedV2Request;
import io.bzclient.bzclient.models.operations.GetQuoteDelayedV2RequestBuilder;
import io.bzclient.bzclient.models.operations.GetQuoteDelayedV2Response;
import io.bzclient.bzclient.models.operations.SDKMethodInterfaces.*;
import io.bzclient.bzclient.utils.BackoffStrategy;
import io.bzclient.bzclient.utils.HTTPClient;
import io.bzclient.bzclient.utils.HTTPRequest;
import io.bzclient.bzclient.utils.Hook.AfterErrorContextImpl;
import io.bzclient.bzclient.utils.Hook.AfterSuccessContextImpl;
import io.bzclient.bzclient.utils.Hook.BeforeRequestContextImpl;
import io.bzclient.bzclient.utils.Options;
import io.bzclient.bzclient.utils.Retries.NonRetryableException;
import io.bzclient.bzclient.utils.Retries;
import io.bzclient.bzclient.utils.RetryConfig;
import io.bzclient.bzclient.utils.Utils;
import java.io.InputStream;
import java.lang.Exception;
import java.lang.String;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;
import java.util.Optional;
import java.util.concurrent.TimeUnit; 

public class BzclientQuoteDelayed implements
            MethodCallGetQuoteDelayedV2 {

    private final SDKConfiguration sdkConfiguration;

    BzclientQuoteDelayed(SDKConfiguration sdkConfiguration) {
        this.sdkConfiguration = sdkConfiguration;
    }


    /**
     * Get delayed quotes V2
     * Get delayed quotes for a list of symbols
     * @return The call builder
     */
    public GetQuoteDelayedV2RequestBuilder get() {
        return new GetQuoteDelayedV2RequestBuilder(this);
    }

    /**
     * Get delayed quotes V2
     * Get delayed quotes for a list of symbols
     * @return The response from the API call
     * @throws Exception if the API call fails
     */
    public GetQuoteDelayedV2Response getDirect() throws Exception {
        return get(Optional.empty(), Optional.empty(), Optional.empty(), Optional.empty());
    }
    
    /**
     * Get delayed quotes V2
     * Get delayed quotes for a list of symbols
     * @param symbols Comma separated list of symbols
     * @param isin ISIN of the security
     * @param cik CIK of the security
     * @param options additional options
     * @return The response from the API call
     * @throws Exception if the API call fails
     */
    public GetQuoteDelayedV2Response get(
            Optional<String> symbols,
            Optional<String> isin,
            Optional<String> cik,
            Optional<Options> options) throws Exception {

        if (options.isPresent()) {
          options.get().validate(Arrays.asList(Options.Option.RETRY_CONFIG));
        }
        GetQuoteDelayedV2Request request =
            GetQuoteDelayedV2Request
                .builder()
                .symbols(symbols)
                .isin(isin)
                .cik(cik)
                .build();
        
        String _baseUrl = this.sdkConfiguration.serverUrl;
        String _url = Utils.generateURL(
                _baseUrl,
                "/api/v2/quoteDelayed");
        
        HTTPRequest _req = new HTTPRequest(_url, "GET");
        _req.addHeader("Accept", "application/json")
            .addHeader("user-agent", 
                SDKConfiguration.USER_AGENT);

        _req.addQueryParams(Utils.getQueryParams(
                GetQuoteDelayedV2Request.class,
                request, 
                null));
        
        Optional<SecuritySource> _hookSecuritySource = this.sdkConfiguration.securitySource();
        Utils.configureSecurity(_req,  
                this.sdkConfiguration.securitySource.getSecurity());
        HTTPClient _client = this.sdkConfiguration.defaultClient;
        HTTPRequest _finalReq = _req;
        RetryConfig _retryConfig;
        if (options.isPresent() && options.get().retryConfig().isPresent()) {
            _retryConfig = options.get().retryConfig().get();
        } else if (this.sdkConfiguration.retryConfig.isPresent()) {
            _retryConfig = this.sdkConfiguration.retryConfig.get();
        } else {
            _retryConfig = RetryConfig.builder()
                .backoff(BackoffStrategy.builder()
                            .initialInterval(500, TimeUnit.MILLISECONDS)
                            .maxInterval(60000, TimeUnit.MILLISECONDS)
                            .baseFactor((double)(1.5))
                            .maxElapsedTime(3600000, TimeUnit.MILLISECONDS)
                            .retryConnectError(true)
                            .build())
                .build();
        }
        List<String> _statusCodes = new ArrayList<>();
        _statusCodes.add("5XX");
        Retries _retries = Retries.builder()
            .action(() -> {
                HttpRequest _r = null;
                try {
                    _r = sdkConfiguration.hooks()
                        .beforeRequest(
                            new BeforeRequestContextImpl(
                                "get-quote-delayed-v2", 
                                Optional.of(List.of()), 
                                _hookSecuritySource),
                            _finalReq.build());
                } catch (Exception _e) {
                    throw new NonRetryableException(_e);
                }
                try {
                    return _client.send(_r);
                } catch (Exception _e) {
                    return sdkConfiguration.hooks()
                        .afterError(
                            new AfterErrorContextImpl(
                                "get-quote-delayed-v2",
                                 Optional.of(List.of()),
                                 _hookSecuritySource), 
                            Optional.empty(),
                            Optional.of(_e));
                }
            })
            .retryConfig(_retryConfig)
            .statusCodes(_statusCodes)
            .build();
        HttpResponse<InputStream> _httpRes = sdkConfiguration.hooks()
                 .afterSuccess(
                     new AfterSuccessContextImpl(
                         "get-quote-delayed-v2", 
                         Optional.of(List.of()), 
                         _hookSecuritySource),
                     _retries.run());
        String _contentType = _httpRes
            .headers()
            .firstValue("Content-Type")
            .orElse("application/octet-stream");
        GetQuoteDelayedV2Response.Builder _resBuilder = 
            GetQuoteDelayedV2Response
                .builder()
                .contentType(_contentType)
                .statusCode(_httpRes.statusCode())
                .rawResponse(_httpRes);

        GetQuoteDelayedV2Response _res = _resBuilder.build();
        
        if (Utils.statusCodeMatches(_httpRes.statusCode(), "200")) {
            if (Utils.contentTypeMatches(_contentType, "application/json")) {
                String _out = Utils.mapper().readValue(
                    Utils.toUtf8AndClose(_httpRes.body()),
                    new TypeReference<String>() {});
                _res.withString(Optional.ofNullable(_out));
                return _res;
            } else {
                throw new APIException(
                    _httpRes, 
                    _httpRes.statusCode(), 
                    "Unexpected content-type received: " + _contentType, 
                    Utils.extractByteArrayFromBody(_httpRes));
            }
        }
        if (Utils.statusCodeMatches(_httpRes.statusCode(), "400", "4XX", "500", "5XX")) {
            // no content 
            throw new APIException(
                    _httpRes, 
                    _httpRes.statusCode(), 
                    "API error occurred", 
                    Utils.extractByteArrayFromBody(_httpRes));
        }
        throw new APIException(
            _httpRes, 
            _httpRes.statusCode(), 
            "Unexpected status code received: " + _httpRes.statusCode(), 
            Utils.extractByteArrayFromBody(_httpRes));
    }

}
